#box {
    width: 1200px;
    margin: auto;
}
.boxTable {
    border: 1px solid black;
    width: 100%;
    height: 200px;
}
.layout {
    height: 30px;
}
.key {
    border: 1px solid black;
    width: 10%;
}
.value {
    border: 1px solid black;
    width: 90%;
}.result {
     height: 30px;
 }
.duplicateTable {
    border: 1px solid black;
    width: 100%;
    height: 100px;
}
.duplicateLayout {
    height: 30px;
}
.duplicateKey {
    border: 1px solid black;
    width: 60px;
}
.duplicateValue {
    border: 1px solid black;
    width: 840px;
}
.fileSizeTable {
    border: 1px solid black;
    width: 100%;
    height: 100px;
}
.fileSizeLayout {
    height: 30px;}
.fileSizeKey {
    border: 1px solid black;
    width: 5%;
}
.fileSizeValue {
    border: 1px solid black;
    width: 95%;
}
.suffixTable {
    border: 1px solid black;
    width: 100%;
    height: 100px;
}
.suffixLayout {
    height: 30px;
}
.suffixKey {
    border: 1px solid black;
    width: 60px;
}
.suffixValue {
    border: 1px solid black;
    width: 840px;
}
.duplicate {
    display: none;
}
.suffix {
    display: none;
}
.fileSize {
    display: none;
    height: 30px;
}
.button {

}